<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Интернет-магазин{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>Мой интернет магазин</h1>
      <nav>
        <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="/clothing">Одежда</a></li>
          <li><a href="/shoes">Обувь</a></li>
        </ul>
      </nav>
    </header>

    <main>{% block content %} {% endblock %}</main>

    <footer>
      <p>&copy; Мой интернет- магазин</p>
    </footer>
  </body>
</html>
